.cart-items__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items-content__wrapper {
    display: flex;
    align-items: center;
}

.cart-items__image {
    width: 100px;
    height: 100px;
}

.cart-items__content {
    padding: 0px 20px;
}

.close-icon {
    font-size: 24px;
    margin: 16px;
    text-align: end;
    border-radius: 50%;
}

.close-icon:hover {
    cursor: pointer;
}

.cart-items__deletebutton {
    width: 40px;
    height: 30px;
    background: red;
    border: none;
    color: wheat;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
}